<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchEmployeersInfo</servlet-name>
    <servlet-class>com.liezh.servlet.SearchEmployeersInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AssountServlet</servlet-name>
    <servlet-class>com.liezh.servlet.AssountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddEmployeersServlet</servlet-name>
    <servlet-class>com.liezh.servlet.AddEmployeersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateEmployeersServlet</servlet-name>
    <servlet-class>com.liezh.servlet.UpdateEmployeersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteEmployeersServlet</servlet-name>
    <servlet-class>com.liezh.servlet.deleteEmployeersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWagesInfo</servlet-name>
    <servlet-class>com.liezh.servlet.AddWagesInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryWagesInfo</servlet-name>
    <servlet-class>com.liezh.servlet.QueryWagesInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteWagesInfo</servlet-name>
    <servlet-class>com.liezh.servlet.DeleteWagesInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateWagesInfo</servlet-name>
    <servlet-class>com.liezh.servlet.UpdateWagesInfo</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>SearchEmployeersInfo</servlet-name>
    <url-pattern>/SearchEmployeersInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssountServlet</servlet-name>
    <url-pattern>/AssountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeersServlet</servlet-name>
    <url-pattern>/AddEmployeersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployeersServlet</servlet-name>
    <url-pattern>/UpdateEmployeersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteEmployeersServlet</servlet-name>
    <url-pattern>/deleteEmployeersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWagesInfo</servlet-name>
    <url-pattern>/AddWagesInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryWagesInfo</servlet-name>
    <url-pattern>/QueryWagesInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteWagesInfo</servlet-name>
    <url-pattern>/DeleteWagesInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWagesInfo</servlet-name>
    <url-pattern>/UpdateWagesInfo</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
